.contact {
  margin-bottom: 100px;
    text-align: center;
    /*overflow-x: hidden;*/
}
.parallax {
    /* The image used */
  background-image: url("../img/2222.jpg");

    /* Set a specific height */
    min-height: 214px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax h2{
  position: absolute;
color: #fff;
left: -9999px;
right: -9999px;
margin: auto;
width: 100%;
top: 95px;
    overflow: hidden;
}
.navbar-header {
  text-align: center;
  width: 100%;
  padding: 21px 0px;
  box-shadow: 0px -1px 3px #b1b1b1;
}

.navbar-header ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
}

.navbar-header ul li {
  display: inline;
  font-size: 17px;
}

.after-li::after {
  content: "\f104";
  font: 400 18px/1 'FontAwesome';
  color: #9b9b9b;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px 12px;
  font-size: 24px;
  position: relative;
  top: 4px;
}
.text-ri{
  text-align: right;
}
.partition {
  max-height: 111px;
      line-height: 46px;
  background: #f2f3f8;
}

.have-border {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.partition .tittle {
  min-width: 140px;
  font-size: 14px;
  font-weight: 100;
  color: #151515;
  letter-spacing: .1em;
  float: right;
}

 .contact-inf h2 {
  padding-right: 15px;
}

.partition .content-inf a {
  margin-right: 10px;
  color: #000;
  font-size: 15px;
  text-decoration: none;
  max-width: 140px;
}

.partition .content-inf span {
  font-size: 18px;
  line-height: inherit;
  color: #90959e;
}

.partition .social-inf li a {
  font-size: 18px;
  line-height: inherit;
  color: #90959e;
}

.contact-form h2 {
  padding-right: 30px
}

.contact-form .inp-inf {
  min-height: 60px;
  height: auto;
  padding: 20.2px 19px;
  border-radius: 0;
  -webkit-appearance: none;
  line-height: 19.6px;
  background: #f2f3f8;
  border: 0;
  width: 100%;
}

.text-inf {
  height: 135px;
  min-height: 60px;
  max-height: 229.5px;
  resize: vertical;
  padding: 20.2px 19px;
  border-radius: 0;
  -webkit-appearance: none;
  line-height: 19.6px;
  background: #f2f3f8;
  border: 0;
  margin-top: 16px;
  margin-bottom: 12px;
  width: 100%;
}

.content-pad-r {
  padding-right: 8px;
}

.content-pad-l {
  padding-left: 8px;
}

.inf-sub {
  min-height: 60px;
  height: auto;
  padding: 20.2px 19px;
  border-radius: 0;
  -webkit-appearance: none;
  line-height: 19.6px;
  background: #78abf1;
  border: 0;
  color: #fff;
  font-weight: 500;
  width: 100%;
}
.flex-f{
  display: flex;
  flex-wrap: wrap;
}
.fl-22{
  order: 1;
}
.fl-11{
  order: 2;
}

input.is-danger, select.is-danger, textarea.is-danger{
    border: 1px solid red;
}

.help{
  color: red;
}
.displaynotif{
  display: none;
}
.app-notif{
  clear: both;
      color: #fff;
      background: #20a520;
      font-size: 18px;
      margin: 12px 30px 1px;
      padding: 12px;
      text-align: center;
}
.eror-msg{
  background: red;
color: #fff;
margin: 12px 30px 0px;
padding: 12px;
font-size: 17px;
text-align: center;
}
@media screen and (max-width:992px) {
  .contact-form{
    padding: 0px;
  }
}
@media screen and (max-width:768px) {

  .fl-22{
    order: 1;
    width: 100%;
  }
  .fl-11{
    order: 2;
    width: 100%;
  }
  .parallax h2{
    top: 140px;
  }
  .parallax{
    min-height: 285px;
  }
  .contact-inf h2, .contact-form h2 {
    text-align: right;
    font-size: 17px;
padding: 12px 15px;
  }

  .contact-form input {
    padding: 0px;
    margin-bottom: 12px;
  }
  .content-pad-l, .content-pad-r, .tex-pad {
    padding: 0px;
  }
  .text-inf {
    margin-top: 0px;
    margin-bottom: 4px;
  }
  .partition p {
    margin-bottom: 0px;
  }
  .partition .tittle {
    min-width: 119px;
    /*width: 100%;*/
  }
  .partition {
    line-height: 50px;
  }
  .contact-inf{
    padding: 0px;
  }
}

@media screen and (max-width:525px) {
  .partition .tittle {
    width: 100%;
  }
}
